
:root {
  --dark-grey: #202124;
  --black: #000;
  --white: #fff;
  --green: #2ac100;
  --font-family: 'Lato', sans-serif;
  --font-family-sig: 'Amatic SC', cursive;
}

html, body {
  font-family: var(--font-family);
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background: var(--black);
}

body {
  margin-bottom: 60px;
  color: var(--white);
  background: var(--black);
}

/* navbar styles */
.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: var(--black);
}

.navbar-brand-box {
  display: flex;
  max-width: 15rem;
}

.navbar-toasty-box {
  position: fixed;
  top: -250px;
  left: 40px;
  transition: all .5s;
}
.navbar-toasty-box.viewable {
  top: -90px;
}

.navbar-toasty-img img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px var(--green);
}

.navbar-toasty-img img {
  max-width: 8rem;
  transform: rotate(180deg);
}

.navbar-brand-sig {
  width: 150px;
}

.navbar-brand {
  padding-left: 1.5rem;
}

.navbar-logo-sig {
  fill: none;
  stroke: var(--white);
  stroke-miterlimit: 10;
  stroke-width: 14px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: strokeOffset 4.5s 1s linear forwards;
}
/* animate the signature stroke */
@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.section-parallax {
  background-image: url("/assets/trav_profile_splash.png");
  min-height: 95vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: right 100px top 120px;
  background-repeat: no-repeat;
  background-size: 50%;
}
.section-parallax h1 {
  padding: 1rem 0 0 3rem;
  font-size: 3rem;
  font-family: var(--font-family-sig);
}

.content {
  padding: 5rem 8rem;
  font-size: 1rem;
}

/* color classes */
.color-green {
  color: var(--green);
}

/* headers */
h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}
