@page
@model IndexModel
@{
    ViewData["Title"] = "Travis Hendricks - Profile";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<section>
    <header class="section-parallax travis">
        <div class="container content">
            <p>I like sandwiches, all kinds really</p>
            <p>I've built over a dozen web apps serving thousands of users</p>
            <p>I'm loyal, like a Labradoodle puppy</p>
            <p>I've created hundreds of databases, web services, and UIs</p>
            <p>I like the Microsoft stack, it's pretty neat</p>
            <p>I'm a team guy, love teams, teams are good</p>
            <p>I am...</p>
            <h1 class="color-green">Travis Hendricks</h1>
        </div>
    </header>
</section>

<section>
    <header class="section-parallax codewall">
        <div class="container content">
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>

            

            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
        </div>
    </header>
</section>


<section>
    <header class="section-parallax gears">
        <div class="container content">
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
            <p>sdsd</p>
        </div>
    </header>
</section>

